{% extends 'base.html' %}

{% block head %} 
<title>Home</title>
{% endblock %} 

{% block body %}
<br> 
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>Welcome to the GMR's Techie Blog! Here we'll be talking about everything computer science. Basics, framesworks, data analytics, web technologies and pretty much anything computer science related.</p>
            <p>Feel to reach through <a href="https://www.linkedin.com/in/mugunthanraju29/">LinkedIn</a> to get any sort of techy help and I'm happy to help you!</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go To Posts &raquo;</a>
            </p>
      </div>
    </div>
  </main>
{% endblock %} 